body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #283136;
  background-color: #ffffff;
}

main {
  display: block;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-navigation {
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  text-align: left;
  background-color: #eeeeee;
}

.site-navigation a,
a.cart {
  text-transform: uppercase;
  color: #000000;
}

a.cart {
  background-color: #eeeeee;
}

.site-navigation a:hover,
a.cart:hover {
  color: #fb565a;
  background-color: #eeeeee;
}

.site-navigation a:focus,
a.cart:focus {
  color: rgba(0, 0, 0, 0.3)
}

.site-navigation a:active,
a.cart:active {
  text-decoration: underline;
}

.slider {
  background-color: #eeeeee;
}

.slide h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slide-1 {
  background-color: #eeeeee;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
}

.slide-2 {
  background-color: #eeeeee;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
}

.slide-3 {
  background-color: #eeeeee;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
}

.feature-item h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.feature-item-web {
  background-image: url("../img/illustration-1.png");
  background-repeat: no-repeat;
}

.feature-item-app {
  background-image: url("../img/illustration-2.png");
  background-repeat: no-repeat;
}

.feature-item-pres {
  background-image: url("../img/illustration-3.png");
  background-repeat: no-repeat;
}

.feature-item-app a {
  text-transform: uppercase;
  background-color: #00ca74;
}

.feature-item-app a:hover {
  background-color: #00bc6c;
}

.feature-item-app a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.feature-item-pres a {
  text-transform: uppercase;
  background-color: #efc84a;
}

.feature-item-pres a:hover {
  background-color: #eab534;
}

.feature-item-pres a:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.working-out h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.working-out-list {
  list-style: none;
}

.working-out h4,
.nerds-percent h4 {
  font-weight: bold;
}

.percent {
  font-size: 45px;
  font-weight: bold;
  line-height: 10px;
}

.nerds-percent-text {
  line-height: 18px;
}

.contacts {
  line-height: 18px;
  color: #666666;
}

.contacts h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.discount h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.discount p {
  line-height: 22px;
  color: #444444;
}

a.social-button {
  background-color: #e1e1e1;
}

.modal {
  background-color: white;
}

.filter-form ul {
  list-style: none;
}

.feedback-form fieldset,
.filter fieldset {
  border: none;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font: inherit;
  background-color: #ffffff;
  border: solid 2px #d7dcde;
}

.filter input[type="text"] {
  font: inherit;
  line-height: 22px;
  color: #283136;
  background-color: #eeeeee;
  border: none;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border: solid 2px #b4b9bb;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  border: solid 2px #000000;
}

.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid {
  border: solid 2px #e74246;
}

.feedback-form legend {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.feedback-item label {
  font-weight: bold;
  line-height: 18px;
}

.filter legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.filter label {
  line-height: 20px;
  color: #283136;
}

.filter label:hover {
  color: #000000;
}

.filter label:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  color: #000000;
  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.inner-page h1 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  background-color: #eeeeee;
}

.sorting h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting ul {
  list-style: none;
}

.sorting a:focus,
.sorting a:active,
.sorting a.sorting-current {
  color: #000000;
}

.gallery-list-item img {
  border: solid 1px rgba(0, 1, 1, 0.1);
}

.gallery-list-item {
  background-color: #eeeeee;
}

.gallery-list-item p {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.pagination-list .button {
  font-size: 16px;
  color: #000000;
  background-color: #eeeeee;
}

.pagination-list .button:hover:not(.pagination-current) {
  background-color: #dfdfdf;
}

.pagination-list .button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button.pagination-current{
  color: #000000;
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

/*Сеточные стили*/
body {
  min-width: 1440px;
  min-height: 1925px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 440px;
  list-style: none;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding: 20px 20px;
  margin-right: 200px;
}

.cart {
  margin: 0;
  margin-left: auto;
  padding: 0;
  width: 85px;
}

.slider-wrap {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  background-color: #eeeeee;
}

.slides {
  width: 1130px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 160px;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px;
}

.working-out {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.working-out-wrap {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 75px;
}

.working-with-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  width: 1160px;
  list-style: none;
}

.working-with-item {
  width: 210pxpx;
  height: 90px;
  padding: 20px 20px;
}

.footer-social {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1160px;
  list-style: none;
}

.social-button {
  margin-right: 10px;
}

.footer-social-list {
  margin-right: 140px;
  padding: 20px 20px;
  width: 260px;
  height: 80px;
  list-style: none;
}
